.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

        /*<img src={logo} className="App-logo" alt="logo" />*/


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.WorldMap {
  width: 100vw;
  height: 28vw;
}


#console {
  font-family: Courier;
  background-color: #000000; 
  color: #99ff00;
  display:block; 
  float:left;
  width: 100vw;
  height: 50vh;
  text-align: left;
  font-size: 0.5em;
  padding-left: 10px;
  overflow: scroll;
}

#commandline {
  outline: 0px solid transparent;
  width: 100vw;
}