.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#documentation {
  height: 100%;
  width: 50vw;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 50px;
  padding-left: 20px;
  font-size: 12px;
  text-align: left;
}

#documentation-content {
}

#documentation-nav {
  margin-top: 50px;
}

#documentation-nav button {
  background-color: rgb(50, 80, 168);
  padding: 10px;
  border-width: 0px;
  margin-left: 0px;
  min-width: 80px;
  margin-right: 20px;
  color: rgb(240, 240, 240);
  border-radius: 2px;
  font-weight: bold;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.terminal {
  font-family: Courier;
  background-color: #000000; 
  color: #99ff00;
  display: block; 
  text-align: left;
  padding: 8px;
  width: 80%;
  white-space: pre;
}


#console {
  font-family: Courier;
  background-color: #000000; 
  color: #99ff00;
  display: block; 
  float:left;
  height: 50vh;
  text-align: left;
  font-size: 0.5em;
  padding-left: 10px;
  overflow: scroll;
  padding-right: 50px;
}


#commandline {
  outline: 0px solid transparent;
}

#worldmap {
}